.Navbar{
    display: flex;
    background-color:black;
    justify-content: space-between;
    align-items: center;
}
.Navbar-show{
    display: flex;
    background-color:black;
    justify-content: space-between;
    align-items: center;


}
.Navbar-show>*{
    color: white;
}

.Navbar>*{
    padding: 10px;

    color: white;
}
.Logo{
    order: 1;
}

.Name{
    order:2;
}


.icon{
    order: 3;
}
.RightSide{
    order: 3;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form{
    min-width: 350px;

}

.SearchBar{
    margin: 12px 5px;
    padding: 5px 5px;
    border-radius: 10px;
    width: 70%;
    min-width: 300px;

}
button {
    padding-top: 5px;
    vertical-align: middle;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.links{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.links>*{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    margin: 0px 30px;
}

.links>*:hover{
    background-color: white;
    color: black;
}

.link.signup{
    border:1px solid white
}