/* .ProductScreenContainer{
    animation: fade-in 2s;

  }
  @keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.BackBtn:hover{
    background: grey;
}

@media only screen and (min-width: 1050px) {
    .ProductScreenContainer{
        border: 1px solid red;
        display: flex;
        
        gap: 50px;
        margin: 30px auto;
        flex-direction: column;

    }

    .Row{
        display: flex;
        gap: 50px;
    }

    .descriptions{
        gap: 50px;
        display: flex;
    }

} */

.ProductScreenContainer{
    animation: fade-in 2s;

  }
  @keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.BackBtn:hover{
    background: grey;
}

@media only screen and (min-width: 1050px) {
    .ProductScreenContainer{
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;


    
    }
    
    .BackBtn:hover{
        background:#DCDCDC;
    
    }
    
    .ProductNameContainer{
        width: 300px;
        
        margin-bottom: 30px;
    
    }
    
    
    .Col.n2{
        margin-left: 25px;
        padding: 25px;
    }
    
    .seperator{
        height: 1px;
        background-color: gray;
        width: 300px;
        margin: 15px 0px;
    }

    .Col.n3{
        display: inline-flex;
        flex-direction: column;
        flex: 0 1 auto;
        flex-basis: 50;
        padding: 10px;

    }

    .seperator.small{
        width: 150px;

    }
    .n3{
        margin-left: 25px;
    }
    .Row>*{
        box-shadow: 0px 0px 3px;
        align-items: stretch;

    }
    .Row{

        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }
    .ProductImageContainer{
        width: 375px;
    }
    .ProductImageContainer >img{
        max-width: 100%;
        max-height: 100%;
    }
    .descriptions{
        padding: 25px;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 3px;

    }

}

@media only screen and (max-width: 1050px) {
    .ProductScreenContainer{
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .seperator.small{
        width: 100%;

    }
    .seperator.small.col3{
        height: 0px;
    }

    .seperator{
        height: 1px;
        background-color: gray;
        width: 100%;
        margin: 15px 0px;
    }

    .Row{
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;

    }
    .descriptions{
        order: 2;
    }
    .ProductImageContainer{
        padding: 0;
        width: 300px;
    }
    .ProductImageContainer >img{
        max-width: 100%;
        max-height: 100%;
    }
    .Col.n3{
        order: 1;
    }
      
    }
    .addToCart{
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;

}



